.galerie-link {
	position: absolute;
	text-decoration: none;
	font-size: 1.2rem;
	color: $white;

	&:hover,
	:active {
		color: $accentuation-color;
	}
}

.up {
	top: 1rem;
	right: 5rem;
}

.center {
	top: 43vh;
	right: 5rem;
}

.bottom {
	top: 3rem;
	right: 5rem;
}

.lightbox {
	display: flex;
	justify-content: center;
	margin: 1rem 17rem;
}
