.title {
	font-size: 2rem;
	width: 65vw;
	color: $white;
	margin: 1rem auto;
	padding-top: 1rem;
	border-top: 1px solid $white;
	-webkit-filter: drop-shadow(0 0 3px $accentuation-color);
	filter: drop-shadow(0 0 3px $accentuation-color);

	.title-normal {
		font-weight: 300;
	}
}

.main-photo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 17rem;

	.photo-container {
		list-style: none;

		.photo {
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: 100% 0;
			object-position: 100% 0;
			height: 200px;
			width: 200px;
			padding: 0.25rem 0.4rem;
			overflow: hidden;
		}
	}
}
