::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: rgba($white, 0.5);
}

::-webkit-scrollbar-thumb {
	background: $accentuation-color;
}

.photoMax-sub-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 74vh;
	width: 80vw;
	overflow: hidden;
	overflow-y: scroll;
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;

	@include phone {
		margin-top: 5rem;
		width: 80vw;
	}

	@include tablet {
		margin-top: 3rem;
		height: 68vh;
		width: 80vw;
	}
}

.album-photoMax-section {
	scroll-snap-align: start;
}
