// ::-webkit-scrollbar {
// 	width: 12px;
// }

// ::-webkit-scrollbar-track {
// 	background: rgba($white, 0.5);
// }

// ::-webkit-scrollbar-thumb {
// 	background: $accentuation-color;
// }

.main-photoMax-container {
	display: flex;
	justify-content: center;
	margin: 0 17rem;

	// .photoMax-sub-container {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	height: 74vh;
	// 	width: 54vw;
	// 	overflow: hidden;
	// 	overflow-y: scroll;
	// 	-ms-scroll-snap-type: y mandatory;
	// 	scroll-snap-type: y mandatory;

	.album-container {
		list-style: none;

		// .album-photoMax-section {
		// 	scroll-snap-align: start;

		.photoMax {
			height: 74vh;
			width: auto;
			transition: 0.4s ease;
		}
	}
}
// 	}
// }

// .arrow {
// 	position: absolute;
// 	top: 32.5%;
// 	font-size: 4rem;
// 	padding: 0.5rem;
// 	color: rgba($white, 0.5);
// 	background-color: rgba($sidebar-bg-color, 0.5);
// 	border-radius: 10px;
// 	cursor: pointer;
// 	z-index: 100;

// 	&:hover,
// 	&:active {
// 		background-color: rgba(255, 255, 255, 0.2);
// 		color: $accentuation-color;
// 	}
// }

// .previous-arrow {
// 	left: 24.5rem;
// }

// .next-arrow {
// 	right: 24.5rem;
// }
