.main-photoMax-container {
	display: flex;
	justify-content: center;
	margin-top: 3rem;

	.album-container {
		list-style: none;

		@media #{$phone} {
			display: flex;
			justify-content: center;
		}

		@media #{$tablet} {
			margin-top: 3rem;
			display: flex;
			justify-content: center;
		}

		.photoMax {
			height: 74vh;
			width: auto;
			transition: 0.4s ease;

			@media #{$phone} {
				margin-top: 2rem;
				height: auto;
				width: 80vw;
			}

			@media #{$tablet} {
				height: auto;
				width: 90%;
			}
		}
	}
}
