@import '../../layout/_color.scss';

.navbar-container {
	position: relative;
}

.navbar {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 3rem;
	background-color: $nav-bg-color;
	color: $white;
}
