@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #414141;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 110;
  height: 100%;
  width: 15.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .sidebar {
    width: 85%;
  }
}

.sidebar.hidden {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.sidebar.visible {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sidebar .menu {
  list-style: none;
  font-size: 1.25rem;
  width: 100%;
  padding-left: 1rem;
}

@media (max-width: 767px) {
  .sidebar .menu {
    padding-left: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar .menu {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}

.sidebar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
}

@media (max-width: 767px) {
  .sidebar .menu-items {
    background-color: #222;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar .menu-items {
    background-color: #222;
  }
}

.sidebar .menu-items .menu {
  position: relative;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.sidebar .menu-items .menu .current {
  margin-left: -1rem;
  padding-left: 1rem;
  background-color: #fd7d33;
}

.sidebar .menu-items .menu .dropdown-menu {
  position: absolute;
  list-style: none;
  font-size: 1.5rem;
  width: 100%;
  visibility: hidden;
}

.sidebar .menu-items .menu:focus-within .dropdown-menu,
.sidebar .menu-items .menu:hover .dropdown-menu,
.sidebar .menu-items .menu:active .dropdown-menu {
  visibility: visible;
}

.sidebar .menu-items .submenu {
  padding-left: 1rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.sidebar .menu-items .submenu:hover, .sidebar .menu-items .submenu:active {
  color: #fd7d33;
}

.sidebar .menu-items .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.sidebar .menu-items .submenu-item {
  margin-left: -1rem;
}

.sidebar-button-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-button-container {
  position: fixed;
  top: 0.5rem;
  left: 6rem;
  width: 2.5rem;
  padding: 0.25rem 0.5rem;
  z-index: 120;
}

@media (max-width: 767px) {
  .sidebar-button-container {
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button-container {
    top: 1rem;
    left: 1rem;
  }
}

.sidebar-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 100;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button {
    width: 2rem;
  }
}

.sidebar-button-lines,
.sidebar-button-lines::before,
.sidebar-button-lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button-lines,
  .sidebar-button-lines::before,
  .sidebar-button-lines::after {
    width: 2rem;
  }
}

.sidebar-button-lines::before,
.sidebar-button-lines::after {
  content: '';
  position: absolute;
}

.sidebar-button-lines::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button-lines::before {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}

.sidebar-button-lines::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button-lines::after {
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem);
  }
}

.sidebar-button.open .sidebar-button-lines {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  background: #222;
}

.sidebar-button.open .sidebar-button-lines::before {
  -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
          transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #fd7d33;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button.open .sidebar-button-lines::before {
    -webkit-transform: rotate(45deg) translate(-1.3rem, 1.3rem);
            transform: rotate(45deg) translate(-1.3rem, 1.3rem);
  }
}

.sidebar-button.open .sidebar-button-lines::after {
  -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
          transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #fd7d33;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-button.open .sidebar-button-lines::after {
    -webkit-transform: rotate(-45deg) translate(-1.3rem, -1.3rem);
            transform: rotate(-45deg) translate(-1.3rem, -1.3rem);
  }
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #fff;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.album-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 17rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .album-title-container {
    margin: 0;
  }
}

.album-title-container .album-title {
  font-size: 1.2rem;
  color: #fff;
  margin: 1rem 0.25rem -0.5rem;
  padding: 0.25rem 0.7rem;
  background-color: #333;
  border-radius: 25px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .album-title-container .album-title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .album-title-container .album-title {
    font-size: 1.7rem;
    margin: 0.5rem;
  }
}

.album-title-container .album-title:hover, .album-title-container .album-title:active {
  background-color: #fd7d33;
}

.main-album-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 17rem;
}

@media (max-width: 767px) {
  .main-album-container {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-album-container {
    margin: 0;
  }
}

.main-album-container .album-container {
  position: relative;
  list-style: none;
}

.main-album-container .album-container .album-photo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 100% 0;
  object-position: 100% 0;
  height: 200px;
  width: 200px;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  cursor: ne-resize;
}

@media (max-width: 767px) {
  .links {
    display: none;
  }
}

.links .gallery-link {
  position: absolute;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.links .gallery-link:hover,
.links .gallery-link :active {
  color: #fd7d33;
}

.links .up {
  top: 1.5rem;
  right: 5rem;
  z-index: 110;
}

.links .center {
  top: 43vh;
  right: 5rem;
  z-index: 110;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .links .center {
    top: 3.5rem;
  }
}

.links .bottom {
  top: 3.5rem;
  right: 5rem;
  z-index: 110;
}

.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .lightbox {
    margin: 0 0 1rem;
  }
}

.main-photoMax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.main-photoMax-container .album-container {
  list-style: none;
}

@media (max-width: 767px) {
  .main-photoMax-container .album-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-photoMax-container .album-container {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-photoMax-container .album-container .photoMax {
  height: 74vh;
  width: auto;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media (max-width: 767px) {
  .main-photoMax-container .album-container .photoMax {
    margin-top: 2rem;
    height: auto;
    width: 80vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-photoMax-container .album-container .photoMax {
    height: auto;
    width: 90%;
  }
}

.thumbnail {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 17rem;
}

@media (max-width: 767px) {
  .thumbnail {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .thumbnail {
    margin: 0;
    margin-top: 0.5rem;
  }
}

.thumbnail .thumbnail-container {
  margin: 0.05rem 0.15rem;
}

.thumbnail .thumbnail-container .thumbnail-item {
  list-style: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1;
  opacity: 0.6;
}

.thumbnail .thumbnail-container .thumbnail-item:hover {
  opacity: 1;
  border: 1px solid #fff;
  -webkit-filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #fd7d33;
}

.photoMax-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74vh;
  width: 80vw;
  overflow: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@media (max-width: 767px) {
  .photoMax-sub-container {
    margin-top: 5rem;
    width: 80vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photoMax-sub-container {
    margin-top: 3rem;
    height: 68vh;
    width: 80vw;
  }
}

.album-photoMax-section {
  scroll-snap-align: start;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #fff;
}

.hero .portrait-img {
  margin-left: 15.5rem;
  height: 100%;
}

@media (max-width: 767px) {
  .hero .portrait-img {
    width: 95vw;
    height: auto;
    margin: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero .portrait-img {
    width: 100vw;
    height: auto;
    margin-left: 0;
  }
}

.hero .author-container {
  margin-left: -8.5rem;
}

@media (max-width: 767px) {
  .hero .author-container {
    display: block;
    margin-top: 10rem;
    margin-left: -92%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero .author-container {
    margin-top: 20rem;
    margin-left: -90%;
  }
}

.hero .author-container .author {
  font-size: 3.5rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .hero .author-container .author {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero .author-container .author {
    font-size: 4rem;
  }
}

.hero .author-container .text {
  font-weight: 300;
  margin-top: -4rem;
  color: #fd7d33;
}

.hero .author-container .hobby {
  font-size: 2.5rem;
  font-weight: 200;
}

@media (max-width: 767px) {
  .hero .author-container .hobby {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero .author-container .hobby {
    font-size: 3rem;
  }
}

.title {
  font-size: 2rem;
  width: 60vw;
  color: #fff;
  margin: 1rem auto;
  padding-top: 1rem;
  border-top: 1px solid #fd7d33;
  -webkit-filter: drop-shadow(0 0 3px #fd7d33);
  filter: drop-shadow(0 0 3px #fd7d33);
}

@media (max-width: 767px) {
  .title {
    margin: 6rem auto;
  }
}

.title .title-normal {
  font-weight: 300;
}

.main-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  width: 65vw;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-photo-container {
    width: 100%;
  }
}

.main-photo-container .photo-container {
  list-style: none;
}

.main-photo-container .photo-container .photo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 100% 0;
  object-position: 100% 0;
  height: 200px;
  width: 200px;
  padding: 0.25rem 0.4rem;
  overflow: hidden;
}
