.sidebar-button-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-button-container {
	position: fixed;
	top: 0.5rem;
	left: 6rem;
	width: 2.5rem;
	padding: 0.25rem 0.5rem;
	z-index: 120;

	@media #{$phone} {
		left: 0;
	}

	@media #{$tablet} {
		top: 1rem;
		left: 1rem;
	}
}

.sidebar-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	z-index: 100;
	cursor: pointer;

	@media #{$tablet} {
		width: 2rem;
	}
}

.sidebar-button-lines,
.sidebar-button-lines::before,
.sidebar-button-lines::after {
	width: 1.5rem;
	height: 0.1rem;
	background-color: $white;
	transition: all 0.5s ease-in-out;

	@media #{$tablet} {
		width: 2rem;
	}
}

.sidebar-button-lines::before,
.sidebar-button-lines::after {
	content: '';
	position: absolute;
}

.sidebar-button-lines::before {
	transform: translateY(-0.5rem);

	@media #{$tablet} {
		transform: translateY(-0.7rem);
	}
}

.sidebar-button-lines::after {
	transform: translateY(0.5rem);

	@media #{$tablet} {
		transform: translateY(0.7rem);
	}
}

// ? ** SIDEBAR BUTTON ANIMATION **
.sidebar-button.open .sidebar-button-lines {
	transform: translateX(2rem);
	background: $sidebar-bg-color;
}

.sidebar-button.open .sidebar-button-lines::before {
	transform: rotate(45deg) translate(-1.5rem, 1.5rem);
	background-color: $accentuation-color;

	@media #{$tablet} {
		transform: rotate(45deg) translate(-1.3rem, 1.3rem);
	}
}

.sidebar-button.open .sidebar-button-lines::after {
	transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
	background-color: $accentuation-color;

	@media #{$tablet} {
		transform: rotate(-45deg) translate(-1.3rem, -1.3rem);
	}
}
