.links {
	@include phone {
		display: none;
	}

	.gallery-link {
		position: absolute;
		text-decoration: none;
		font-size: 1.2rem;
		color: $white;

		&:hover,
		:active {
			color: $accentuation-color;
		}
	}

	.up {
		top: 1.5rem;
		right: 5rem;
		z-index: 110;
	}

	.center {
		top: 43vh;
		right: 5rem;
		z-index: 110;

		@include tablet {
			top: 3.5rem;
		}
	}

	.bottom {
		top: 3.5rem;
		right: 5rem;
		z-index: 110;
	}
}

.lightbox {
	display: flex;
	justify-content: center;

	@include phone {
		margin: 0 0 1rem;
	}
}
