.album-title-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 17rem;
	transition: all 0.3s ease-in-out;

	@include phone {
		margin: 0;
	}

	.album-title {
		font-size: 1.2rem;
		color: $white;
		margin: 1rem 0.25rem -0.5rem;
		padding: 0.25rem 0.7rem;
		background-color: $nav-bg-color;
		border-radius: 25px;
		text-decoration: none;

		@include phone {
			display: none;
		}

		@include tablet {
			font-size: 1.7rem;
			margin: 0.5rem;
		}

		&:hover,
		&:active {
			background-color: $accentuation-color;
		}
	}
}
