@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $root-bg-color;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
}

// Media queries variables
$desktop: 'only screen and (max-width: 1024px)';
$tablet: 'only screen and (max-width: 768px)';
$phone: 'only screen and (max-width: 320px)';
